.cover{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.cover-content{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover-content .img{   
    height: 80px;
    border-radius: 50%;
}