.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.main-header .CTA-Btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;    
}

.main-header .navbar .btn {
    margin: auto 20px;
    padding: auto  20px;
}

.main-header .navbar .btn:not(:last-of-type)::before {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    height: 100%;
    width: 1px;
    background-color: #e0e0e0;
}